<div class="container">
    <div class="Suppliers">
        <h1>Welcome Hospitals!</h1>
        <h2>Enter Your Information.</h2>
        <h2>{{hospital?.name}}</h2>
        <mat-form-field appearance="fill">
            <mat-label>Hospital Name</mat-label>
            <input matInput #nameField="ngModel" [(ngModel)]="hospital.name">
        </mat-form-field>
    </div>
        <mat-form-field appearance="fill">
            <mat-label>Address Line 1</mat-label>
            <input matInput #addr1Field="ngModel" [(ngModel)]="hospital.address.line1">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Address Line 2</mat-label>
            <input matInput #addr2Field="ngModel" [(ngModel)]="hospital.address.line2">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center space-between">
            <mat-form-field appearance="fill" style="width: 272px">
                <mat-label>City</mat-label>
                <input matInput #cityField="ngModel" [(ngModel)]="hospital.address.city">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 272px">
                <mat-label>State</mat-label>
                <input matInput #stateField="ngModel" [(ngModel)]="hospital.address.state">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 256px">
                <mat-label>Zip Code</mat-label>
                <input matInput #zipcodeField="ngModel" [(ngModel)]="hospital.address.zipcode">
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput #countryField="ngModel" [(ngModel)]="hospital.address.country">
        </mat-form-field>


    <div class="Suppliers">
        <h2>Primary Contact Information</h2>
        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput #emailFiled="ngModel" [(ngModel)]="hospital.contactInfo.email">
        </mat-form-field>
    </div>
    <div class="Suppliers">
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput #telField="ngModel" [(ngModel)]="hospital.contactInfo.tel">
        </mat-form-field>
        <div class="Suppliers">
            <mat-form-field appearance="fill">
                <mat-label>Hospital Website</mat-label>
                <input matInput #websiteField="ngModel" [(ngModel)]="hospital.contactInfo.website">
            </mat-form-field>
        </div>
        <button mat-stroked-button (click)="submit()">Submit</button>
        <h3>You will be directed to a page to enter type of PPE required and quantity.</h3>
    </div>