<div class="container">
<div class="Suppliers">
    <h1>Welcome Hospitals!</h1>
    <h2>Enter Your Information.</h2>
    <mat-form-field appearance="fill">
        <mat-label>Hospital Name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Suppliers">
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>

<div class="Suppliers">
    <h2>Primary Contact Information</h2>
    <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Suppliers">
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<button mat-stroked-button>Submit</button>
<h3>You will be directed to a page to enter type of PPE required and quantity.</h3>
</div>