<div class="container">
    <div class="header">
 
    <h1>Welcome to PPE connect!</h1>
    <h2>We connect suppliers and hospitals for PPE need and supply.</h2>
    <h2>Please select whether you are a supplier (providing PPE), hospital (needing PPE), or government agency (monitoring PPE).</h2>
</div>
<div class="button1">
        <button mat-stroked-button>Supplier</button>
    </div>
        <div class="button2">
        <button mat-stroked-button>Hospital</button>
    </div>
        <div class="button3">
        <button mat-stroked-button>Government Agency</button>
</div>
</div>
