.header
{
    margin: 50px;
    line-height: 10px;
    text-align: center;

}
.button1
{
    margin: 50px;
    text-align: center;

    
}
.button2
{
    margin: 50px;
    text-align: center;
}
.button3
{
    margin: 50px;
    text-align: center;
}