<div class="container">
    <div class="header">

        <h1>Welcome to PPE Connect!</h1>
        <h2>We connect suppliers and hospitals for PPE need and supply.</h2>
        <h2>Please select whether you are a supplier (providing PPE), hospital (requiring PPE), or government agency
            (monitoring PPE).</h2>
    </div>
    <div style="text-align: center">
        <button mat-raised-button color="primary" routerLink="/supplier">Supplier</button>
        <button mat-raised-button color="primary" routerLink="/hospital">Hospital</button>
        <button mat-raised-button color="primary" routerLink="/productlist">Government Agency</button>
    </div>
</div>