<div class="container">
    <div class="header">
 
    <h1>Name</h1>
</div>
    <div class="ppe">
        <h2>Image</h2>
        <h2>Description</h2>
        <h2>ID</h2>
        <h2>Price Per Unit</h2>
        <div class="Suppliers">

            <mat-form-field appearance="fill">
                <mat-label>Number of Units to Purchase</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <h3>Supplier Name</h3>
        <h3>Address</h3>
        <h3>Email</h3>
        <h3>Phone Number</h3>
        
        <button mat-stroked-button>Purchase</button>
    </div>
</div>
