<div class="Producers">
    <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Producers">
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Producers">
    <mat-form-field appearance="fill">
        <mat-label>PPE Available</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Producers">
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput>
    </mat-form-field>
</div>