<div class="container">
<div class="Suppliers">
    <h1>Enter the information for each PPE product.</h1>
    <h2>If there are multiple types of products, click submit after each entry to store data, then enter information for the new product.</h2>
    <mat-form-field appearance="fill">
        <mat-label>PPE Name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Suppliers">
    
    <mat-form-field appearance="fill">
        <mat-label>PPE Description</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Suppliers">
    
    <mat-form-field appearance="fill">
        <mat-label>PPE ID</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="Suppliers">
    <mat-form-field appearance="fill">
        <mat-label>PPE Price per Unit</mat-label>
    <span matPrefix>$&nbsp;</span>
        <input matInput>
    </mat-form-field>  
</div>
<input type="file" (change)="onFileSelected($event)">
<button type ="button" (click)= "onUpload()">Upload Picture</button>

<h4>Supported File Types: .jpg, .png, .pdf</h4>
</div>