.header
{
    margin: 30px;
    line-height: 10px;
    text-align: center;
}
.stored
{
    padding: 10px;
    text-align: center;
            position: relative;
            background-color: #fff;
            margin: 10px;
}
.stored1
{
    
    display: inline-block;
    margin: 100px;
    margin-top: -100%;
}
.buttons
{
    padding: 10px;
    text-align: center;
            position: relative;
            background-color: #fff;
            margin: 10px;
}
.button1
{
    
    display: inline-block;
    margin: 30px;
    margin-top: -50%;
}

